/*TO DO
//Extract all fonts and colours in separate file as variables
*/
.App {
  text-align: center; }

.App-header {
  font-family: 'Kaushan Script', cursive;
  height: 70px;
  padding: 20px;
  color: wheat; }

.movie-genres {
  width: 80%;
  margin: auto;
  margin-top: 1em; }

.movie-genres label {
  display: inline-flex;
  margin: 0.2em 0.5em; }
